---
- name: 02 - Base configuration for routers and switch
  hosts: cisco-routers:cisco-switches
  gather_facts: no

  vars:
    hostname_map:
      router1: Router1
      router2: Router2
      switch1: Switch1

  tasks:
    # ----------------------
    # Hostname
    # ----------------------
    - name: Set hostname based on inventory name
      ios_config:
        lines:
          - hostname {{ hostname_map.get(inventory_hostname, inventory_hostname) }}

    # ----------------------
    # Login banner (ios_banner)
    # ----------------------
    - name: Configure login banner
      ios_banner:
        banner: login
        text: |
          Authorized access only. Activity may be monitored.
        state: present

    # ----------------------
    # Router1 interface descriptions
    # ----------------------
    - name: Set interface description on Router1 G0/0/0
      when: inventory_hostname == 'router1'
      ios_config:
        parents: interface GigabitEthernet0/0/0
        lines:
          - description Link to S1 (VLAN 1 mgmt)

    # ----------------------
    # Router2 interface descriptions
    # ----------------------
    - name: Set interface description on Router2 G0/0/0
      when: inventory_hostname == 'router2'
      ios_config:
        parents: interface GigabitEthernet0/0/0
        lines:
          - description Link to S1 (VLAN 1 mgmt)

    # ----------------------
    # Switch1 interface descriptions
    # ----------------------
    - name: Set interface description on Switch1 Fa0/1
      when: inventory_hostname == 'switch1'
      ios_config:
        parents: interface FastEthernet0/1
        lines:
          - description Link to Router1 (VLAN 1)

    - name: Set interface description on Switch1 Fa0/2
      when: inventory_hostname == 'switch1'
      ios_config:
        parents: interface FastEthernet0/2
        lines:
          - description Link to Router2 (VLAN 1)

    - name: Set interface description on Switch1 Fa0/24
      when: inventory_hostname == 'switch1'
      ios_config:
        parents: interface FastEthernet0/24
        lines:
          - description Management PC (VLAN 1)
